/* PURPLE #540D6E */
/* BLUE #009DDC */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

body {
    min-height: 100%;
}

main section:last-child {
  margin-bottom: 2rem;
}

a {
  color: #ffffff;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}

header {
  background: #ff5400;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
}

section article {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem
}

.banner {
  background: #f0f0f0;
}

.banner img {
  display: block;
  margin: 2rem auto;
  border-radius: 50%;
  border: 5px solid #ff5400;
}

.split {
  display: flex;
}

.split div {
  flex: 1 0 50%;
}

.boxes .box {
  display: inline-block;
  width: calc(50% - 3rem);
  margin: 1rem 0;
}

.boxes .box h4 {
  cursor: pointer;
  color: #ffffff;
  border-radius: .5rem;
  background: #ff5400;
  padding: 1rem;
  margin: 0;
  transition: opacity 200ms linear;
}

.boxes .box p {
  margin: 1rem;
}

.boxes .box p a {
  color: #333333;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff5400;
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .boxes .box {
    width: calc(100% - 2rem);
  }
}
