/* PURPLE #540D6E */
/* BLUE #009DDC */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

body {
    min-height: 100%;
    background: #f0f0f0;
}

main section:last-child {
  margin-bottom: 2rem;
}

a {
  color: #333333;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline;
}

header {
  background: #ff5400;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
}

header a {
  color: #ffffff;
}

section article {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem
}

.banner {
  background-image: linear-gradient(#cccccc, #f0f0f0);
}

.banner img {
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
  box-shadow: 0 0 2px #aaaaaa;
}

.split {
  display: flex;
}

.split div {
  flex: 1 0 50%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.boxes .box {
  display: block;
  flex: 1 0 50%;
  margin: 1rem;
  background: #ffffff;
  border-radius: .5rem;
  position: relative;
  transition: 100ms transform;
}

.boxes .box h4 {
  color: #ffffff;
  background: #ff5400;
  padding: 1rem;
  margin: 0;
  transition: opacity 200ms linear;
  border-radius: .5rem .5rem 0 0;
}

.boxes .box p {
  margin: 1rem;
}

.boxes .box .indicator {
  position: absolute;
  top: 2px;
  right: 1rem;
  color: #ffffff;
  font-size: 2rem;
}

.boxes .box:hover {
  text-decoration: none;
  transform: scale(1.02);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff5400;
  color: #ffffff;
  text-align: center;
}

footer a {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .boxes .box {
    width: calc(100% - 2rem);
  }
}
