body {
    color: #444444;
    background-color: #FAFAFA;
}


.mdl-layout__header,
.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
    background: #FAFAFA;
    color: #444444;
}
.mdl-layout__header {
    box-shadow: none;
    border-bottom: 5px solid #EEEEEE;    
}

.mdl-layout-title a {
    color: #444444;
    text-decoration: none;
}

.jr-button {
    padding: 1rem 3.5rem 1rem 1.5rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
}

.jr-button-primary {
    background: rgb(63,81,181);
    color: rgb(255, 255, 255);
}

.jr-button-primary:hover {
    background: rgba(63,81,181, 0.95);
}


.jr-button .material-icons {
    position: absolute;
    right: 1rem;
    top: 10px;
}

.banner {
    text-align: center;
    padding: 1rem;
    position: relative;
    border-top: 5px solid #EEEEEE;
    border-bottom: 5px solid #EEEEEE;
}

.profile {
    border-radius: 50%;
    border: 5px solid #EEEEEE;
    max-width: 200px;
}

.badge {
    max-width: 60px;
    max-height: 60px;;
    margin: 0 1rem;
}

#intro .banner {
    padding: 1rem;
    margin-bottom: 4.5rem;
    border-top: none;
}

#intro .banner::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
    background: url('intro.jpg') center / cover;
    content: "";
}

#intro .cta {
    padding-top: 3rem;
}

#skills .banner::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
    background: url('skills.jpg') center / cover;
    content: "";
}


#experience .banner::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
    background: url('experience.jpg') center / cover;
    content: "";
}


#portfolio .banner::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .2;
    background: url('portfolio.jpg') center / cover;
    content: "";
}

.banner h1 {
    font-size: 2.6rem;
}

.banner h2 {
    font-size: 2.2rem;
}

#experience .dates {
    font-style: italic;
}

#portfolio .mdl-card__supporting-text {
    min-height: 250px;
}

.container {
    max-width: 1024px;
    margin: 3rem auto;
}

.intro-line {
    text-align: center;
}

.full-width {
    width: 100%;
}

footer p {
    text-align: center;
}

footer .credits {
    line-height: 2em;
}