<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link href="assets/jr.css?{{ site.time | date: '%s%N' }}" rel="stylesheet">
    <link rel="icon" href="favicon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90109610-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-90109610-2');
    </script>
  </head>
  <body>
    <header>
      <section>
        <article>
          <h1><a href="/">Jonathan Rewcastle</a></h1>
        </article>
      </section>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <section>
        <article>
          &copy; Jonathan Rewcastle 2020 - {{ 'now' | date: "%Y" }} | <a href="/privacy">Website Privacy Statement</a>
        </article>
      </section>
    </footer>
  </body>
</html>
